.nav {
  margin-top: 16px;
  position: fixed;
}

.nav-link {
  color: #2277ee;
  display: block;
  padding: 12px 0;
  text-decoration: none;
}

.content {
  line-height: 1.5;
  margin-left: 160px;
}

.js-butr-active {
  color: #122344;
  font-weight: bold;
}

.js-butr-marker {
  background-color: #2277ee;
  width: 4px;
  margin-left: -12px;
  position: absolute;
  top: 0;
}
