/*
  DarkPurp: #281C75;
  BrightPink: #E478FF;
  TextWhite: #DAD5FF;
  ButterLight: #FFEED5;
  ButterDark: #EDCD88;
 */

* { box-sizing: border-box; }

body {
  background-color: #281C75;
  color: #DAD5FF;
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1128px;
}

.main-content {

}

.header {
  background: radial-gradient(963.00px at 50% 62%, #864AE2 0%, #281C75 100%);
  padding-top: 200px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  position: relative;
  text-align: center;
  z-index: 1;
}

.header-pattern {
  background-image: url('pattern.png');
  background-repeat: repeat;
  background-size: auto 763px;
  background-position: fixed;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .4;
  z-index: -1;
}

.butr-logo {
  fill: #FFEED5;
  max-width: 300px;
  max-height: 150px;
  -webkit-filter:
    drop-shadow(1px 1px 0 #EDCD88)
    drop-shadow(2px 2px 0 #EDCD88)
    drop-shadow(3px 3px 0 #EDCD88);
  filter:
    drop-shadow(1px 1px 0 #EDCD88)
    drop-shadow(2px 2px 0 #EDCD88)
    drop-shadow(2.2px 2.2px 0 #EDCD88);
}

.cta {
  padding: 16px 0;
}

.subhead {
  color: white;
  font-size: 24px;
  margin-top: 8px;
  margin-bottom: 32px;
}

.yay-text {
  color: white;
  font-size: 14px;
}


.button {
  background: #281C75;
  border-radius: 4px;
  color: white;
  display: inline-block;
  font-family: inherit;
  font-weight: 500;
  line-height: 1;
  margin: 0 16px;
  padding-top: 8px;
  padding-right: 32px;
  padding-bottom: 7px;
  padding-left: 32px;
  text-decoration: none;
  transition: 120ms background-color ease-in-out;
}

.button:hover {
  background-color: #E478FF;
}

.main-flex {
  display: flex;
  padding-top: 80px;
  padding-bottom: 80px;
}

.sidebar {
  padding: 0 12px;
  width: 25%;
}

.page-content {
  padding: 0 12px;
  width: 50%;
}

h2 {
  color: white;
  border-bottom: 1px solid #E478FF;
  display: inline-block;
  font-size: 40px;
  font-weight: 300;
  line-height: .7;
  margin-top: 0;
  margin-bottom: 8px;
}

h3 {
  color: white;
  display: inline-block;
  font-size: 24px;
  font-weight: 300;
  line-height: .7;
  margin-top: 32px;
  margin-bottom: 0;
}

.list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav {
  position: relative;
  padding-left: 12px;
}

.sidebar-nav a {
  border-bottom: 1px solid transparent;
  color: #DAD5FF;
  display: inline-block;
  font-size: 16px;
  line-height: .8;
  margin: 12px 0;
  text-decoration: none;
  transition: 120ms color ease-in-out;
}

.sidebar-nav a:hover {
  color: white;
  border-bottom: 1px solid #E478FF;
}

.sidebar-nav ol ol {
  padding-left: 24px;
}

.sidebar-nav ol ol a {
  font-size: 14px;
}

.sidebar-nav .active {
  color: white;
}

.marker {
  background-color: #E478FF;
  position: absolute;
  left: 0;
  top: 0;
  height: 24px;
  width: 4px;
  transform: translateY(4px);
  box-shadow: 0px 0px 14px #BE6BEC;
}
